
.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}
.item {
    color: #fff;
}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}