.app-wrapper {
    width: 1200px;
    margin: 9px auto;
    display: grid;

    grid-template-areas: 
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: green;
}
.header img {
    width: 40px;
}

.nav {
    grid-area: n;
    background-color: green;
}

.content {
    grid-area: c;
    background-color: blue;
}